:root {
    --antismash-main: #665511;
    --antismash-main-light: #8d7618;
    --antismash-main-60: rgba(102, 85, 17, 0.6);
    --antismash-main-80: rgba(102, 85, 17, 0.8);
    --antismash-old: #997722;
    --antismash-gray: #1d1414;
    --antismash-light: #bb9933;
}
