<div class="more-details">
  <h3> Prediction details </h3>
{% if results | length != 0 %}
  <dl class ="prediction-text">
    {% for motifs in results.values() %}
    {%- for motif in motifs -%}
    <dt>{{motif.get_name()}} - {{motif.peptide_subclass}}</dt>
      <dd>Cleavage pHMM score: {{'%0.2f' | format(motif.score)}}</dd>
      <dd>RODEO score: {{motif.detailed_information.rodeo_score}}</dd>
      <dd>Monoisotopic mass: {{'%0.1f' | format(motif.detailed_information.cut_mass)}} Da</dd>
      <dd>Molecular weight: {{'%0.1f' | format(motif.detailed_information.cut_weight)}} Da</dd>
      <dd>Number of bridges: {{motif.detailed_information.num_bridges}}</dd>
    {% if motif.tail -%}
    <dl>
      <dt>Weights before cleavage:</dt>
        <dd>Monoisotopic mass: {{'%0.1f' | format(motif.monoisotopic_mass)}} Da</dd>
        <dd>Molecular weight: {{'%0.1f' | format(motif.molecular_weight)}} Da</dd>
    </dl>
    {%- endif %}
    {%- endfor -%}
    {% endfor %}
  </dl>
{% else %}
  <div class="prediction-text">No core peptides found.</div>
{% endif %}
</div>

