.DS_Store
*.swp
.eggs
*.pyc
cover/
.coverage
*~
__pycache__
.cache
*.brawn_cache
.mypy_cache
.pytest_cache
*.css
*.dmnd
*.hmm.h3f
*.hmm.h3i
*.hmm.h3m
*.hmm.h3p
antismash/config/instance.cfg
antismash/detection/hmm_detection/data/bgc_seeds.hmm
antismash/databases/*
antismash/modules/*/data/*.classifier.pkl
antismash/modules/*/data/*.scaler.pkl
antismash.egg-info/*
**/.ropeproject/*
.vim/*
antismash/git_hash
pip-delete-this-directory.txt
pip-egg-info/*

# generated during make test
nisin/*

# keep these, even in locations that are ignored
!antismash/databases/README
