[MASTER]
ignore=external
reports=y
disable=bad-continuation

[TYPECHECK]
ignored-classes=Config,TestCase

[FORMAT]
max-line-length=120

[VARIABLES]
# unused imports in __init__.py are fine
init-import=no
