[MASTER]
ignore=external
reports=y
disable=bad-continuation,too-few-public-methods

[TYPECHECK]
ignored-classes=Config,TestCase,Namespace

[FORMAT]
max-line-length=120

[VARIABLES]
# unused imports in __init__.py are fine
init-import=no

[BASIC]
# if clear function naming makes them long, that's fine
function-rgx=[a-z_][a-z0-9_]{2,40}$
method-rgx=[a-z_][a-z0-9_]{2,40}$
# same is true for variables
variable-rgx=[a-z_][a-z0-9_]{1,40}$
# some names are shorter than 3 chars but informative
good-names=i,j,k,ex,Run,_,id

[DESIGN]
# having details provided as args is common, bump from default of 5
max-args=7
