  <footer class="footer">
    <div class="container">
      <div>
        <img src="images/{{options.taxon}}_{{options.branding.lower()}}_logo.svg" alt="{{options.branding}} logo" style="height:90px;width:unset;">
      </div>
      <div class="cite-me">
        If you have found {{ options.branding }} useful, please <a href="{{options.base_url}}#!/about">cite us</a>.
      </div>
      <div>
        <img src="images/{{options.taxon}}_{{options.branding.lower()}}_icon.svg" alt="{{options.branding}} icon" style="height:100px;width:unset;">
      </div>
    </div>
  </footer>
