  <nav>
    <div class="main-link">
     <div>
        <a href="{{options.base_url}}">
          <img src="images/{{options.taxon}}_antismash_logo.svg" alt="antiSMASH logo" width="40px">
        </a>
       </div>
       <div>
        <a href="{{options.base_url}}">
          antiSMASH version {{options.version}}
        </a>
      </div>
    </div>
    <div class="custom-description">{{options.html_description}}</div>
    <div class="ancillary-links">
      <div class="ancillary-link dropdown-menu" id="download-dropdown"><a href="#" id="download-dropdown-link"><img src="images/download.svg" alt="download"> &nbsp; Download</a>
        <ul class="dropdown-options">
        {% if not options.skip_zip_file %}
        <li><a href={{options.input_file}}.zip>Download all results</a></li>
        {% endif %}
          <li><a href={{options.input_file}}.gbk> Download GenBank summary file</a></li>
        {% if options.logfile and options.download_logfile() != None %}
          <li><a href={{options.download_logfile()}}> Download log file</a></li>
        {% endif %}
        </ul>
      </div>
      <div class="ancillary-link"><a href="{{options.base_url}}#!/about"><img src="images/about.svg" alt="about"> &nbsp; About</a></div>
      <div class="ancillary-link"><a href="https://docs.antismash.secondarymetabolites.org"><img src="images/help.svg" alt="help"> &nbsp; Help</a></div>
      <div class="ancillary-link"><a href="{{options.base_url}}#!/contact"><img src="images/contact.svg" alt="contact"> &nbsp; Contact</a></div>
    </div>
  </nav>
