<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{page_title}} - {{regions_written}} region(s) - antiSMASH results</title>
  <link rel="stylesheet" type="text/css" href="css/{{options.taxon}}.css">
  <meta property="og:title" content="{{page_title}} - {{records | length}} record(s) - {{regions_written}} region(s)" />
  <meta property="og:description" content="{{options.html_description}}">
  <meta property="og:image" content="https://antismash.secondarymetabolites.org/images/{{options.taxon}}_logo.png" />
  <meta property="og:image:alt" content="antiSMASH logo" />
  <meta property="og:image:width" content="600" />
  <meta property="og:image:height" content="600" />
  <meta property="og:url" content="{{options.base_url}}upload/{{job_id}}/index.html" />
  <meta property="og:type" content="website" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@antismash_dev" />
</head>
{% set multi_record = records | length + records_without_regions | length > 1 %}
<body>
  <div id="header">
    {% include 'header.html' %}
    <div id="buttons">
      <span id="region-type">Select genomic region:</span>
      <div id="regionbuttons">
        <div class="arrow-left" id="prev-region"></div>
        <div class="regbutton" style="min-width: inherit;"><a href="#">Overview</a></div>
        <div style="display: flex; flex-wrap: wrap">
        {% for record in records %}
          {% for region in record.regions %}
            {% set hybrid_text = "" %}
            {% if region.products | length > 1 %}
                {% set hybrid_text = "hybrid " %}
            {% endif %}
            <div class="regbutton {{region.get_product_string()}} {{hybrid_text}}{{region.anchor_id}}">
              <a href="#{{region.anchor_id}}">{{record.record_index}}.{{region.get_region_number()}}</a>
            </div>
          {% endfor %}
        {% endfor %}
        </div>
        <div id="last-regbutton"><div class="arrow-right" id="next-region"></div></div>
      </div>
    </div>
  </div>

  <!-- overview page -->
  {% if records %}
  <div class="page" id="overview">
    {% if options.triggered_limit %}
      <h3>Identified secondary metabolite regions (truncated to the first {{options.limit}} record(s)) <span id="truncated"></span></h3>
    {% else %}
      <h3>Identified secondary metabolite regions<span id="truncated"></span></h3>
    {% endif %}
    <table id="region-overview">
      <thead>
        <tr>
          <th>Region</th>
          <th>Type</th>
          <th>From</th>
          <th>To</th>
          <th colspan="2">Most similar known cluster</th>
          <th>Similarity</th>
          <th>MIBiG BGC-ID</th>
        </tr>
      </thead>

      <tbody>
        {% for record in records -%}
          <tr class='separator-row'>
            <td class='separator-text' colspan="6">{{record.get_from_record()}}</td>
          </tr>
          <tr><td colspan="8"><svg id="record-minimap-{{record.record_index}}" class="record-overview-svg" height="1" width="1"></svg></td></tr>
          {% for region in record.regions -%}
            <tr class = '{{loop.cycle('odd', 'even')}}'>
              {% set hybrid_text = "" %}
              {% if region.products | length > 1 %}
                  {% set hybrid_text = "hybrid " %}
              {% endif %}
              <td class="regbutton {{region.get_product_string()}} {{hybrid_text}}{{region.anchor_id}}">
                <a href="#{{region.anchor_id}}">Region {% if multi_record %}{{record.record_index}}.{% endif %}{{region.get_region_number()}}</a>
              </td>
              <td>
                {% set dash = joiner("-") %}
                {% for subtype in region.products -%}
                  {{dash()}}<a href="https://docs.antismash.secondarymetabolites.org/glossary/#{{subtype}}" target="_blank">{{subtype | title}}</a>
                {%- endfor %}
              </td>
              <td class="digits">{{region.location.start + 1}}</td>
              <td class="digits">{{region.location.end}}</td>
              <td>{{region.best_knowncluster_name}}</td>
              <td>{{region.best_knowncluster_type}}</td>
              {% set similarity = region.best_knowncluster_similarity %}
              {% if similarity > 75 %}
                {% set colour = "rgba(0, 100, 0, 0.3)" %}
              {% elif similarity > 50 %}
                {% set colour = "rgba(210, 105, 30, 0.3)" %}
              {% else %}
                {% set colour = "rgba(205, 92, 92, 0.3)" %}
              {% endif %}
              {% if similarity > 0 %}
              <td class="digits similarity-text" style="background-image: linear-gradient(to left, {{colour}}, {{colour}} {{similarity}}%, #ffffff00 {{similarity}}%)">{{similarity}}%</td>
              {% else %}
              <td></td>
              {% endif %}
              {% if region.bgc_id != "" -%}
                <td><a href="https://mibig.secondarymetabolites.org/go/{{region.bgc_id}}/{{region.bgc_cluster_number}}" target="_blank">{{region.bgc_id}}</a></td>
              {%- else -%}
                <td></td>
              {%- endif %}
            </tr>
            {%- endfor %}
        {%- endfor %}
        {% if records_without_regions %}
            <tr class = 'separator-row'>
              <td class='separator-text' colspan="6">No secondary metabolite regions were found in these records:</td>
            </tr>
          {% for record in records_without_regions %}
            <tr>
              <td></td><td colspan="6">{{record.id}}{% if record.annotations.get("source") %} ({{record.annotations["source"]}}){% endif %}</td>
            </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>
  {% else %}
  <div class="page" id="overview">
    <div class="no-results">No results found on input.</div>
  </div>
  {% endif %}

{% include 'regions.html' %}
{% include 'footer.html' %}

  <script src="js/jquery.js"></script>
  <script src="js/antismash.js"></script>
  <script src="regions.js"></script>
  <script>
    $(document).ready(function() {
        viewer["start"](all_regions, details_data);
    })
  </script>

</body>
</html>
