<html><head>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<title>Search Query</title></head><body alink="red" bgcolor="#ffffff" link="red" text="#000000" vlink="red">
<center>

<h2><b>SEARCHGTr input</b></h2>
<form action="http://linux1.nii.res.in/pankaj/cgi-bin/gt/first_script.cgi" method="post">
<b>Sequence name: </b> <input maxlength="8" name="name" size="8" value="GlycTr" type="text"><br>
FASTA-formatted sequence: <br>
<textarea name="seq" rows="8" wrap="physical" cols="100">>FASTASEQUENCE</textarea><br><br>
<input type="submit">
</form>
</center>

</tbody></table>
</body></html>