<div class="more-details">
    <div class="heading">
      <span>Core peptide predictions</span>
      {{help_tooltip(tooltip, "thio-side")}}
    </div>
  {% if motifs %}
  <dl class ="prediction-text">
  {% for motif in motifs %}
     <dt>{{motif.locus_tag.rsplit("_", 1)[0]}}</dt>
      <dd>Putative {{motif.peptide_subclass}}</dd>
        <dd>Cleavage pHMM score: {{'%0.2f' | format(motif.score)}}</dd>
        <dd>RODEO score: {{motif.detailed_information.rodeo_score}}</dd>
        <dd>Monoisotopic mass: {{ '%0.1f' % motif.monoisotopic_mass}} Da</dd>
        <dd>Molecular weight: {{ '%0.1f' % motif.molecular_weight}} Da</dd>
        <dd><u> Predicted peptide features:</u><br>{{motif.detailed_information.core_features}}</dd>

        {% if motif.detailed_information.macrocycle -%}
          <dd>Macrocycle: {{motif.detailed_information.macrocycle}}</dd>
        {%- endif %}

        {% if motif.detailed_information.amidation -%}
          <dd>Tail reaction: {{motif.detailed_information.tail_reaction}}</dd>
        {%- endif %}

      <br>

      {% if motif.peptide_subclass != "Type III" -%}
        <dt>Considering maturation reactions</dt>
          <dd>Monoisotopic mass: {{ '%0.1f' % motif.detailed_information.mature_weights[1]}} Da</dd>
          <dd>Molecular weight: {{ '%0.1f' % motif.detailed_information.mature_weights[0]}} Da</dd>
      {%- endif %}

      {% if motif.alternative_weights -%}
      <dd>
      <dl>
        <dt>Alternative weights</dt>
        <dd class="alt-weight-desc">(assuming N unmodified Ser/Thr residues)</dd>
        {% for weight in motif.alternative_weights -%}
        <dd>
          <span class="alt-weight"> {{ '%0.1f' | format(weight) }} Da
          <span class="alt-weight-n"> N = {{loop.index}}
        </dd>
        {%- endfor %}
      </dl>
      {%- endif %}
      </dd>
    {%- endfor %}
  </dl>
{% else %}
  <div class="prediction-text">No core peptides found.</div>
{% endif %}
</div>
