<div class="details">
    <div class="heading">
      <span>Sactipeptide predictions</span>
      {{help_tooltip(tooltip, "sacti-body")}}
    </div>
  {% if not motifs_by_locus %}
    <div class="details-text">
      Sactipeptides - No core peptides found.
    </div>
  {% else %}
    <h4>Putative Sactipeptide(s)</h4>
    {% for locus in motifs_by_locus | sort %}
    <hr>
      <dl class="details-text">
        {% for motif in motifs_by_locus[locus] %}
        <dt><span class="serif">{{motif.get_name().rsplit("_", 1)[0]}}</span> leader / core peptide</dt>
        <dd>
          {{ motif.leader }} - {{motif.core}}
        </dd>
      {% endfor %}
    </dl>
    {% endfor %}
  {% endif %}
</div>
