<div class="more-details">
    <div class="heading">
      <span>Type II PKS gene cluster prediction details</span>
      {{help_tooltip(tooltip_content, "t2pks")}}
    </div>
	{% for prediction in predictions %}
	{% if loop.index > 1 %}
	<hr>
	{% endif %}
	<dl class="prediction-text">
        <dt><strong>Cluster section:</strong></dt>
        <dd>{{prediction.start}} to {{prediction.end}}</dd>
		{% if prediction.starter_units %}
		<dt><strong>Starter unit(s):</strong></dt>
		<dd>{% for pred in prediction.starter_units | sort(attribute='score', reverse=True) %}
				{{pred.__str__()}}<br>
			{% endfor %}
	    <dd>
		</tr>
		{% endif %}
		{% if prediction.malonyl_elongations %}
		<dt><strong>Malonyl elongations:</strong></dt>
        <dd>
			{% for pred in prediction.malonyl_elongations | sort(attribute='score', reverse=True) %}
			{{pred.__str__()}}<br>
			{% endfor %}
    	</dd>
		{% endif %}
		{% if prediction.product_classes %}
		<dt><strong>Product class(es):</strong></td>
        <dd>
				{% for class in prediction.product_classes | sort %}
				{{ class }}<br>
				{% endfor %}
		</dd>
		{% endif %}
		{% if prediction.molecular_weights %}
		<dt><strong>Product molecular weight(s):</strong></dt>
		<dd>
			{% for comb, weight in prediction.molecular_weights.items() | sort %}
			{{ comb }}: {{ '%d'| format(weight|int) }} Da<br>
			{% endfor %}
		</dd>
		{% endif %}
	</dl>
	<dl class="prediction-text">
		{% for cds, predictions in prediction.cds_predictions.items() | sort %}
		<dt><strong>{{ cds }}</strong></dt>
			{% for pred in predictions %}
			<dd>
				{{pred.ptype}}
				{% if pred.pfunc %}
					{{pred.pfunc}}
				{% endif %}
				(Score: {{pred.bitscore}}; E-value: {{pred.evalue}})<br>
			</dd>
			{% endfor %}
		{% endfor %}
	</dl>
    {% endfor %}
</div>
