<div class = "clusterblast">
    <div class="heading">
      <span>Similar gene clusters</span>
      {{help_tooltip(tooltip, "cb-general")}}
    </div>
  {% if region.cluster_blast %}
  <div>
    <select id= "clusterblast-{{region.anchor_id}}-select" class= "clusterblast-selector">
      <option value="svg/clusterblast_r{{record.record_index}}c{{region.get_region_number()}}_all.svg">
        All hits
      </option>
      {% for opt_text, svg_file in region.cluster_blast %}
      <option value = "{{svg_file}}">
        {{opt_text}}
      </option>
      {% endfor %}
    </select>
    <button id= "clusterblast-{{region.anchor_id}}-download">Download graphic</button>
  </div>
  <div id="clusterblast-{{region.anchor_id}}-svg"></div>
  {% else %}
  <div>
    <p>No significant ClusterBlast hits found.</p>
  </div>
  {% endif %}
</div>
