<div class = "clusterblast">
  <h3>Similar gene clusters</h3>
  {% if cluster.cluster_blast %}
  <div>
    <select id= "clusterblast-{{cluster.anchor_id}}-select" class= "clusterblast-selector">
      <option value="svg/clusterblast_r{{record.record_index}}c{{cluster.get_cluster_number()}}_all.svg">
        All hits
      </option>
      {% for opt_text, svg_file in cluster.cluster_blast %}
      <option value = "{{svg_file}}">
        {{opt_text}}
      </option>
      {% endfor %}
    </select>
    <button id= "clusterblast-{{cluster.anchor_id}}-download">Download graphic</button>
  </div>
  <div id="clusterblast-{{cluster.anchor_id}}-svg"></div>
  {% else %}
  <div>
    <p>No significant ClusterBlast hits found.</p>
  </div>
  {% endif %}
</div>
