<div class = "subclusterblast">
    <div class="heading">
      <span>Similar subclusters</span>
      {{help_tooltip(tooltip, "cb-sub")}}
    </div>
  {% if region.subcluster_blast %}
  <div>
    <select id= "subclusterblast-{{region.anchor_id}}-select" class= "clusterblast-selector">
      <option value="svg/subclusterblast_r{{record.record_index}}c{{region.get_region_number()}}_all.svg">
        All hits
      </option>
      {% for opt_text, svg_file in region.subcluster_blast %}
      <option value = "{{svg_file}}">
        {{opt_text}}
      </option>
      {% endfor %}
    </select>
    <button id="subclusterblast-{{region.anchor_id}}-download">Download graphic</button>
  </div>
  <div id="subclusterblast-{{region.anchor_id}}-svg"></div>
  {% else %}
  <div>
    <p>No matches found.</p>
  </div>
  {% endif %}
</div>
