{% if cluster.motifs | length != 0 %}
  <div class="more-details">
    <h3> Prediction details </h3>
    <dl class ="prediction-text">
    {%- for motif in cluster.motifs if motif.peptide_type == "lanthipeptide" -%}
      <dt>{{motif.get_name()}}</dt>
        <dd>Putative {{motif.peptide_class}}</dd>
        <dd>Cleavage pHMM score: {{'%0.2f' | format(motif.score)}}</dd>
        <dd>RODEO score: {{motif.rodeo_score}}</dd>
        <dd>Monoisotopic mass: {{'%0.1f' | format(motif.monoisotopic_mass)}} Da</dd>
        <dd>Molecular weight: {{'%0.1f' | format(motif.molecular_weight)}} Da</dd>
        <dd>Number of bridges: {{motif.lan_bridges}}</dd>
        {% if motif.get_modifications() | length != 0 %}
          {%- for mod in motif.get_modifications() %}
            <br>Additional modifications:
              {{mod}}
          {% endfor -%}
        {% endif %}
        {% if motif.alternative_weights %}
          <dd>
            <dl>
              <dt>Alternative weights</dt>
                <dd class="alt-weight-desc">(assuming N unmodified Ser/Thr residues)</dd>
                {% for weight in motif.alternative_weights %}
                  <dd>
                    <span class="alt-weight"> {{ '%0.1f' | format(weight) }} Da</span>
                    <span class="alt-weight-n"> N = {{loop.index}}</span>
                  </dd>
                {% endfor %}
            </dl>
          </dd>
        {% endif %}

    {%- endfor -%}
  </dl>
</div>
<div>
  <h3>Database cross-links</h3>
  <div class="prediction-text">
    <a href="http://bioinfo.lifl.fr/norine/form2.jsp" target="_new">Look up in NORINE database</a>
  </div>
</div>
{% endif %}
