{% import 'legend_entry_macro.html' as le %}

{% for record in records %}
{% for region in record.regions %}
<div class= "page" id='{{region.anchor_id}}'>
  <h3> {{record.seq_record.name}} - Region {{region.get_region_number()}} - {{region.get_product_string() | capitalize }}</h3>
  {% if region.has_sidepanel %}
  <div class="sidepanel">
    {% for handler in region.handlers %}
      {% if handler.generate_sidepanel is defined and handler.__name__ in record.results %}
        {{handler.generate_sidepanel(region, record.results[handler.__name__], record, options) | safe }}
      {% endif %}
    {% endfor %}
  </div>
  {% endif %}
  <div class = "content">
    <div class ="description-container">
      <h3> Region description </h3>
      <div class = "region-download">
        <a href = {{ '%s.region%03d.gbk' % (record.id, region.get_region_number()) }}>Download region GenBank file</a>
      </div>
      <div class = 'description-text'>
        {{region.description_text()}}
      </div>
      {% if region.contig_edge %}
        <div class="contig-edge-warning">Region on contig edge.</div>
      {% endif %}
      <a class="cluster-rules-header" id="{{region.anchor_id}}-rules-header" href="#{{region.anchor_id}}">Show pHMM detection rules used</a>
      <div class = "cluster-rules" id="{{region.anchor_id}}-rules">
        {{- region.detection_rules|join('<br>'|safe) -}}
      </div>
      <div id='{{region.anchor_id}}-svg'>
      </div>
    </div>
    <div class="legend">
      <h4>Legend:</h4>
      <div>
        {{le.legend('legend-type-biosynthetic', 'core biosynthetic genes')}}
        {{le.legend('legend-type-biosynthetic-additional', 'additional biosynthetic genes')}}
        {{le.legend('legend-type-transport', 'transport-related genes')}}
        {{le.legend('legend-type-regulatory', 'regulatory genes')}}
        {{le.legend('legend-type-resistance', 'resistance genes')}}
        {{le.legend('legend-type-other', 'other genes')}}
        {% if (options.tta_enabled or not options.minimal) and record.get_gc_content() >= options.tta_threshold %}
            {{le.legend('legend-tta-codon', 'TTA codon')}}
        {% endif %}
        {% if options.cassis %}
            {{le.legend('legend-border-cassis', 'cluster extent as predicted by CASSIS')}}
        {% endif %}
        {% if options.cf_create_clusters or options.cf_borders_only %}
            {{le.legend('legend-border-clusterfinder', 'cluster extent as predicted by ClusterFinder')}}
        {% endif %}
      </div>
    </div>
    {% for handler in region.handlers %}
      {% if handler.generate_details_div is defined and handler.__name__ in record.results %}
        {{handler.generate_details_div(region, record.results[handler.__name__], record, options) | safe}}
      {% endif %}
    {% endfor %}
  </div>


</div>
{% endfor %}
{% endfor %}
