<div class = "subclusterblast">
  <h3>Homologous subclusters</h3>
  <div>
    {% if cluster.subcluster_blast %}
    <select id= "subclusterblast-{{cluster.idx}}-select" class= "clusterblast-selector">
      <option value="svg/subclusterblast{{cluster.idx}}_all.svg">
        All hits
      </option>
      {% for opt_text, svg_file in cluster.subcluster_blast %}
      <option value = "{{svg_file}}">
        {{opt_text}}
      </option>
      {% endfor %}
    </select>
        <button id= "subclusterblast-{{cluster.idx}}-download">Download graphic</button>
    {% else %}
        No matches found.<br>
    {% endif %}
  </div>
  <div id="subclusterblast-{{cluster.idx}}-svg"></div>
</div>
